
<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Updating Order</h1>
	</div>
	
	<div class="panel-body">
		<%= render 'form', order: @order %>
	</div>
	
	<div class="panel-footer">
		<%= link_to 'Back', orders_path %>
	</div>
</div>