<div class="panel panel-info">
<div class="panel-heading center">
<h1>What we do?</h1>
</div>
<div class="panel-body center">

<h3>Bikky is an outsourced delivery solution for businesses. Our courier fleet and technology alleviate the pain businesses face of manging their own physical distribution. </h3>
<h3>
Whether it's a restaurant looking to satisfy delivery orders in a 30 minute window, or a local CPG brand offering same day or next day delivery for the first time, Bikky helps businesses foster greater customer engagement through last-mile delivery.
</h3>
</div>
<div class="panel-footer center">
<h4>Stay in touch: info@bikky.com</h4>
 
 </div>
</div>